link(rel="stylesheet", href="/mine.css" type="text/css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" integrity="sha512-Oy+sz5W86PK0ZIkawrG0iv7XwWhYecM3exvUtMKNJMekGFJtVAhibhRPTpmyTj8+lJCkmWfnpxKgT2OopquBHA==" crossorigin="anonymous" referrerpolicy="no-referrer")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/bootstrap-icons.svg")

.d-flex.align-self-end.mt-4
    .container-fluid.position-absolute
          .border-top.border-info.mt-5.border-3
            .row
              h1.col.text-light.text-center.mt-4 GAD
                .text-muted.fs-5.mt-3 Global Affairs Desk
              
              h3.col.text-light.text-center.mt-4 Links 
                .row
                  a.col.text-muted.fs-5.text-decoration-none.mt-3(href="/") Home 
                    a.text-muted.fs-5.text-decoration-none(href="/blogs") Blogs
    
              h3.col.text-light.text-center.mt-4 Contact Us
                .row
                  .bi.bi-instagram.text-muted.fs-5.mt-3
                    a.mx-1.text-muted.text-decoration-none.fs-5(target='_blank' href="https://www.instagram.com/history_shorts/") Instagram 
                  .bi.bi-envelope-fill.text-muted.fs-5
                    a.text-muted.fs-5.text-decoration-none.mx-1(target='_blank' href="mailto:globalaffairsdesk@gmail.com") Gmail
                  .bi.bi-twitter.text-muted.fs-5
                    a.text-muted.fs-5.text-decoration-none.mx-1(target='_blank' href="https://twitter.com/AarushJoshi9?t=CxQOrXn8C5TnjHJHGfKShw&s=08") Twitter
            
            .container
              h5.text-muted.text-center.mt-5.col.mb-2 &#169;Designed And Created By 
                a.text-muted.text-decoration-underline(target="_blank" href="https://my-website.sujajana2609.repl.co/") Meheer